html {
	font-family:Copperplate, Arial, Times New Roman;
}

body {
	background-color: lightyellow;
	height: 100%;
}

header {
	background-color: black;
	height: 30%;
	font-size: 25px;
	font-family: Copperplate;
	width: 100%;	
}

h1 {
	font-family:Copperplate, Arial;
	color: black;
	text-align: center;
	height: 650px;
}

a.headlink:visited {
	color: pink;
}

a.headlink:hover {
	color: green;
}

a:hover {
	color:green;
}

body {
	margin:0px;
	padding:0px;
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 23px;	}
}


@media screen and (max-width: 700px) {
	#topleft, #topright, #link1, #link2 {
		font-size: 20px;
	}
}

@media screen and (max-width: 690px) {
	.list, .website, .footer, #article {
		font-size: 13px;
	}
}

@media screen and (max-width: 490px) {
	.list {
		width: 85%;
	}
}

@media screen and (max-width:650px) {
	.footer {
		font-size: 10px;
		text-align: left;
		width: auto;
		height: auto;
	}
}
/**/